/*
Theme Name: Adaptativo
Theme URI: https://www.webempresa.com/wordpress/demo-tema-adaptativo/
Author: Webempresa Team
Description: Blog WordPress Theme
Adaptativo a beautiful responsive themes. It's a simple and elegant theme built on HTML5 & CSS3. It incorporates custom Theme Options that are easy to modify, Font Awesome icons font and grid columns.
Version: 1.0.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: adaptativo
Tags: one-column, right-sidebar, custom-background, custom-header, custom-menu, featured-images, full-width-template, microformats, sticky-post, theme-options, threaded-comments, translation-ready, blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Adaptativo is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;

	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid #ccc;
	padding: 4px 6px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a:hover,
a:focus,
a:active {
	color: black;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/* ==== Grid ==== */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

/* ==== Fin Grid ==== */

body {
  color: #5c5c5c;
  font-family: "Raleway", sans-serif;
  background-color: #F2F2F2; }

h1 {
  font-size: 2.4em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 2em;
  margin: 0; }

h4 {
  font-size: 1.8em;
  margin: 0; }

h5 {
  font-size: 1.6em;
  margin: 0; }

h6 {
  font-size: 1.4em;
  margin: 0; }

.container {
  max-width: 1240px;
  min-width: 360px; }

a, a:visited {
  color: #cca300; }

.rounded {
  border-radius: 50%; }

blockquote, q {
  font-family: Georgia, serif; }

blockquote {
  position: relative;
  margin: 0.25em 0;
  padding-left: 10px; }

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 40px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a; }

cite {
  font-size: .9em;
  color: #999; }

input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  padding: 8px 14px;
  display: inline-block;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #cca300;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px #997a00;
  cursor: pointer;
  outline: none; }
  input[type="button"]:active,
  input[type="reset"]:active,
  input[type="submit"]:active,
  button:active,
  .button:active {
    background-color: #e6b800;
    box-shadow: 0 1px #cca300;
    transform: translateY(1px); }
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  button:hover,
  .button:hover {
    background-color: #e6b800;
    box-shadow: 0 2px #cca300; }

input,
textarea {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  color: #5c5c5c; }
  input:focus,
  textarea:focus {
    color: #5c5c5c; }

.widget-title {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.4em; }

.widget {
  padding: 15px; }

table {
  width: 100%; }
  table td, table th {
    border: 1px solid #f0f0f0;
    padding: 8px 6px; }
  table th {
    background-color: #f0f0f0; }

.site-title {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase; }
  .site-title a {
    width: 100%;
    display: block;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px #555; }

.site-description {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 2px #555; }

header.site-header {
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.header-bottom,
.home-header-bottom {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 1.6em; }
  .header-bottom h1, .header-bottom h2, .header-bottom h3, .header-bottom h4,
  .home-header-bottom h1,
  .home-header-bottom h2,
  .home-header-bottom h3,
  .home-header-bottom h4 {
    font-family: "Raleway", sans-serif;
    font-size: 1.8em;
    text-shadow: 1px 1px 2px #555; }
  .header-bottom h3, .header-bottom h4,
  .home-header-bottom h3,
  .home-header-bottom h4 {
    font-size: 1em; }

.header-bottom {
  padding: 20px;
  min-height: auto;
  text-align: left; }

.header-top {
  margin-bottom: 30px;
  border-bottom: 1px dotted rgba(92, 92, 92, 0.5); }

.custom-logo-link {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center; }

.header-bottom h1, .header-bottom h2,
.home-header-bottom h1,
.home-header-bottom h2 {
  font-size: 2em; }

.header-bottom .textwidget a,
.home-header-bottom .textwidget a,
aside .textwidget a {
  text-decoration: none; }
  .header-bottom .textwidget a .fa,
  .home-header-bottom .textwidget a .fa,
  aside .textwidget a .fa {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #eeb120;
    width: 32px;
    height: 32px; }
  .header-bottom .textwidget a:hover,
  .home-header-bottom .textwidget a:hover,
  aside .textwidget a:hover {
    color: white; }
    .header-bottom .textwidget a:hover .fa,
    .home-header-bottom .textwidget a:hover .fa,
    aside .textwidget a:hover .fa {
      color: white;
      background-color: #1D1D1D; }
    .header-bottom .textwidget a:hover .fa-facebook,
    .home-header-bottom .textwidget a:hover .fa-facebook,
    aside .textwidget a:hover .fa-facebook {
      background-color: #3B579D; }
    .header-bottom .textwidget a:hover .fa-twitter,
    .home-header-bottom .textwidget a:hover .fa-twitter,
    aside .textwidget a:hover .fa-twitter {
      background-color: #2DAAE2; }
    .header-bottom .textwidget a:hover .fa-rss,
    .home-header-bottom .textwidget a:hover .fa-rss,
    aside .textwidget a:hover .fa-rss {
      background-color: #FF9900; }
    .header-bottom .textwidget a:hover .fa-google-plus,
    .home-header-bottom .textwidget a:hover .fa-google-plus,
    aside .textwidget a:hover .fa-google-plus {
      background-color: #DC4A38; }
    .header-bottom .textwidget a:hover .fa-pinterest-p,
    .home-header-bottom .textwidget a:hover .fa-pinterest-p,
    aside .textwidget a:hover .fa-pinterest-p {
      background-color: #CB2027; }
    .header-bottom .textwidget a:hover .fa-linkedin,
    .home-header-bottom .textwidget a:hover .fa-linkedin,
    aside .textwidget a:hover .fa-linkedin {
      background-color: #0274B3; }

.main-navigation button.menu-toggle {
  width: 100%;
  padding: 12px;
  font-size: 1.2em;
  border-radius: 0; }

.main-navigation ul {
  float: right; }
  .main-navigation ul ul {
    top: 3em;
    background-color: white;
    border-top: 4px solid #ffcc00; }
    .main-navigation ul ul li.current-menu-item a:before {
      content: "\276f";
      display: inline-block;
      margin-right: 10px; }
    .main-navigation ul ul li a {
      padding: 15px;
      display: block;
      color: #999;
      border-bottom: 1px solid #f0f0f0;
      font-family: "Raleway", sans-serif; }
      .main-navigation ul ul li a:hover {
        color: #5c5c5c;
        background-color: #ffcc00; }
    .main-navigation ul ul li:last-child a {
      border-bottom: none; }

.main-navigation .nav-menu > li {
  margin: 5px;
  padding: 15px 30px 26px 0px;
  float: none;
  display: inline-block; }
  .main-navigation .nav-menu > li.current-menu-item > a, .main-navigation .nav-menu > li.current-menu-parent > a {
    color: #ffcc00; }
    .main-navigation .nav-menu > li.current-menu-item > a:after, .main-navigation .nav-menu > li.current-menu-parent > a:after {
      content: "";
      margin-top: 10px;
      display: block;
      border-top: 4px solid #ffcc00; }
  .main-navigation .nav-menu > li > a {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: white;
    text-shadow: 1px 1px 2px #555; }
    .main-navigation .nav-menu > li > a:hover {
      color: #ffcc00; }

.wrap-content {
  margin-top: -60px;
  margin-bottom: -60px;
  position: relative;
  z-index: 1; }
  .wrap-content .site-content {
    padding: 30px; }

.content-top,
.home-content-top,
.content-bottom,
.home-content-bottom {
  width: 100%;
  padding: 20px;
  clear: both;
  background-color: #EAEAEA;
  color: #5c5c5c; }
  .content-top a,
  .home-content-top a,
  .content-bottom a,
  .home-content-bottom a {
    color: #5c5c5c;
    text-decoration: underline; }
    .content-top a:hover,
    .home-content-top a:hover,
    .content-bottom a:hover,
    .home-content-bottom a:hover {
      color: #1D1D1D; }
  .content-top section,
  .home-content-top section,
  .content-bottom section,
  .home-content-bottom section {
    margin: 0; }
  .content-top h1, .content-top h2, .content-top h3, .content-top h4,
  .home-content-top h1,
  .home-content-top h2,
  .home-content-top h3,
  .home-content-top h4,
  .content-bottom h1,
  .content-bottom h2,
  .content-bottom h3,
  .content-bottom h4,
  .home-content-bottom h1,
  .home-content-bottom h2,
  .home-content-bottom h3,
  .home-content-bottom h4 {
    margin-top: 5px; }

.site-content {
  background: white; }
  .site-content.sidebar #primary {
    width: 74%;
    float: left;
    padding-right: 30px; }
  .site-content.sidebar #secondary {
    width: 26%;
    float: right; }
  .site-content.sidebar:after {
    content: "";
    display: block;
    clear: both; }

#breadcrumbs,
.breadcrumbs {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 12px;
  color: #999; }
  #breadcrumbs a,
  .breadcrumbs a {
    text-decoration: none; }

.comments-area {
  padding: 20px;
  border: 1px solid #e3e3e3; }
  .comments-area .comment-respond {
    margin-top: 20px; }
  .comments-area .comments-title,
  .comments-area .comment-reply-title {
    font-size: 1.6em; }
  .comments-area .comment-reply-title {
    margin-bottom: 10px; }
  .comments-area ul.comment-list,
  .comments-area ul.children {
    margin-left: 0;
    padding-left: 0px;
    list-style: none; }
  .comments-area ul.children {
    padding-left: 25px; }
  .comments-area .comment-body {
    border: 1px solid #f0f0f0;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 20px 15px; }
    .comments-area .comment-body .avatar {
      border-radius: 50%; }
    .comments-area .comment-body .comment-author cite,
    .comments-area .comment-body .comment-author cite a {
      text-transform: uppercase;
      text-decoration: none;
      font-style: normal;
      margin-left: 4px; }
    .comments-area .comment-body .reply,
    .comments-area .comment-body .commentmetadata {
      text-align: right; }
      .comments-area .comment-body .reply a,
      .comments-area .comment-body .commentmetadata a {
        color: #999;
        text-decoration: none; }
        .comments-area .comment-body .reply a:hover,
        .comments-area .comment-body .commentmetadata a:hover {
          color: #ffcc00; }
      .comments-area .comment-body .reply .fa-reply,
      .comments-area .comment-body .commentmetadata .fa-reply {
        color: #999;
        font-size: 12px; }
  .comments-area .comment-form {
    padding: 20px;
    background-color: #f0f0f0; }
    .comments-area .comment-form label {
      width: 100%;
      display: block;
      color: #999; }
    .comments-area .comment-form a {
      color: #999; }
      .comments-area .comment-form a:hover {
        color: #ffcc00; }
    .comments-area .comment-form textarea {
      resize: vertical; }

.navigation {
  width: 100%;
  clear: both;
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid #f0f0f0;
  text-align: center; }
  .navigation .page-numbers {
    padding: 8px;
    display: inline-block;
    width: 40px;
    border: 1px solid #f0f0f0;
    color: #5c5c5c;
    text-decoration: none; }
    .navigation .page-numbers.current {
      color: #999;
      background-color: #f0f0f0; }
  .navigation a.page-numbers:hover {
    color: white;
    background-color: #ffcc00; }

.site-main h1.page-title,
.site-main h1.entry-title {
  line-height: 1.4em;
  margin: 0.67em 0; }

.site-main .entry-title a {
  text-decoration: none;
  color: #5c5c5c;
  line-height: 1.2em; }
  .site-main .entry-title a:hover {
    color: #ffcc00; }

.site-main .entry-header .author a,
.site-main .entry-header .cat-links a {
  text-decoration: none;
  color: #999; }
  .site-main .entry-header .author a:hover,
  .site-main .entry-header .cat-links a:hover {
    color: #ffcc00; }

.site-main .entry-header .comments-link {
  display: block;
  background-color: #ffcc00; }
  .site-main .entry-header .comments-link .fa {
    color: white;
    margin-right: 2px; }
  .site-main .entry-header .comments-link a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%; }

.site-main .entry-footer .tags-links a {
  padding: 3px 5px;
  background-color: #999;
  color: white;
  font-size: .8em;
  border-radius: 2px;
  text-decoration: none; }
  .site-main .entry-footer .tags-links a:hover {
    background-color: #ffcc00; }

.site-main .wrap-more-link {
  text-align: right; }

.site-main .more-link {
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  font-size: .8em; }

.site-main .edit-link {
  display: block; }

.site-main article.post {
  padding-left: 95px;
  position: relative; }

.site-main .wrap-info-article {
  position: absolute;
  top: 8px;
  left: 0;
  width: 72px;
  text-align: center; }

.site-main .date-article {
  color: #999;
  background-color: #f0f0f0; }
  .site-main .date-article .month-year,
  .site-main .date-article .day {
    display: block;
    border-top: 1px solid white; }
  .site-main .date-article .day {
    font-size: 2.4em;
    font-weight: 700;
    font-family: "Helvetica", sans-serif; }

.site-main.home-site .posted-on {
  display: block; }

.site-main.home-site article {
  width: 32%;
  float: left;
  margin-right: 2%;
  padding-left: 0;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #eeb120;
  min-height: 400px; }
  .site-main.home-site article:nth-child(3n) {
    margin-right: 0; }
  .site-main.home-site article .fa-bookmark {
    color: #ffcc00;
    text-shadow: 1px 1px 2px #999;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -4px; }
  .site-main.home-site article .wrap-article-home {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    background-color: #eeb120;
    color: white;
    text-decoration: none;
    overflow: hidden; }
    .site-main.home-site article .wrap-article-home .entry-content {
      overflow: hidden;
      max-height: 0; }
  .site-main.home-site article .wrap-article-home-text {
    display: block;
    padding: 15px;
    background-color: #eeb120;
    text-decoration: none;
    color: white; }
  .site-main.home-site article a {
    color: white;
    text-decoration: none; }
    .site-main.home-site article a .entry-title {
      margin-top: 0;
      margin-bottom: 12px;
      line-height: 1.2em;
      font-size: 24px; }
    .site-main.home-site article a:hover {
      text-decoration: underline; }
  .site-main.home-site article .entry-content {
    margin-top: 12px;
    color: #5c5c5c; }
  .site-main.home-site article .entry-header .author, .site-main.home-site article .entry-header .posted-on {
    display: inline-block; }
    .site-main.home-site article .entry-header .author a, .site-main.home-site article .entry-header .posted-on a {
      color: white; }
  .site-main.home-site article .entry-header .posted-on:after {
    content: " | "; }

.home-content-top {
  padding: 0; }
  .home-content-top .widget {
    padding: 20px; }
  .home-content-top .widget_search {
    background-color: white;
    text-align: right;
    padding-bottom: 0;
    padding-right: 30px; }

#mc_embed_signup #mce-responses {
  display: none; }

#mc_embed_signup form .mc-field-group {
  width: 40%;
  display: inline-block; }

#mc_embed_signup form input,
#mc_embed_signup form label {
  display: block;
  width: 100%; }

#mc_embed_signup form > div div:last-child {
  display: inline-block;
  width: 18%; }
  #mc_embed_signup form > div div:last-child #mc-embedded-subscribe {
    background-color: #ffcc00;
    box-shadow: none;
    padding: 10px; }
    #mc_embed_signup form > div div:last-child #mc-embedded-subscribe:hover {
      background-color: #1D1D1D; }

aside.widget-area {
  border: 1px solid #f0f0f0;
  padding: 30px 20px; }
  aside.widget-area .search-field {
    width: 75%; }
  aside.widget-area .search-submit {
    padding-left: 0;
    padding-right: 0;
    width: 20%; }
  aside.widget-area .widget {
    padding: 5px; }
  aside.widget-area .widget-title:after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 20%;
    height: 4px;
    background-color: #ffcc00; }
  aside.widget-area ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    aside.widget-area ul li {
      display: block;
      width: 100%;
      padding: 5px;
      border-bottom: 1px solid #f0f0f0; }
      aside.widget-area ul li a {
        color: #999;
        text-decoration: none; }
        aside.widget-area ul li a:hover {
          color: #ffcc00; }
  aside.widget-area .widget_recent_entries ul li a:before,
  aside.widget-area .widget_archive ul li a:before,
  aside.widget-area .widget_categories ul li a:before,
  aside.widget-area .widget_meta ul li a:before {
    font-family: "FontAwesome";
    content: "\f061";
    margin-right: 10px;
    font-size: 10px; }

footer.site-footer {
  background-color: #1D1D1D;
  padding: 100px 20px 20px;
  font-size: .9em;
  color: #f0f0f0; }
  footer.site-footer a {
    color: #f0f0f0;
    text-decoration: none; }
    footer.site-footer a:hover {
      color: #ffcc00; }
  footer.site-footer .menu {
    margin: 0;
    padding: 0;
    text-align: right; }
    footer.site-footer .menu li {
      display: inline-block; }
      footer.site-footer .menu li a {
        color: #f0f0f0; }
        footer.site-footer .menu li a:hover {
          color: #ffcc00; }
      footer.site-footer .menu li ul {
        display: none; }
      footer.site-footer .menu li:not(:last-child):after {
        content: " | ";
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px; }

@media screen and (min-width: 598px) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

@media (max-width: 960px) {
  .site-content.sidebar #primary, .site-content.sidebar #secondary {
    width: 100%; }
  .site-main.home-site article {
    width: 48%;
    margin-right: 4%; }
    .site-main.home-site article:nth-child(3n) {
      margin-right: 4%; }
    .site-main.home-site article:nth-child(2n) {
      margin-right: 0; }
  .home-content-top .widget_search {
    text-align: center; } }

@media (max-width: 768px) {
  footer.site-footer .menu {
    margin-top: 16px;
    text-align: left; }
  .home-header-bottom h2 {
    font-size: 1.2em; }
  .home-header-bottom h3 {
    font-size: .8em; } }

@media (max-width: 598px) {
  .main-navigation ul {
    width: 100%;
    background-color: white; }
    .main-navigation ul ul {
      border-top: none; }
  .main-navigation .nav-menu > li {
    padding: 10px 8px;
    display: block;
    position: static;
    border-bottom: 1px solid #f0f0f0; }
    .main-navigation .nav-menu > li.current-menu-item > a:after, .main-navigation .nav-menu > li.current-menu-parent > a:after {
      border: none; }
    .main-navigation .nav-menu > li > a {
      display: block;
      color: #999;
      text-shadow: none; }
  .main-navigation li ul {
    position: static;
    box-shadow: none;
    margin: 16px 6px; }
    .main-navigation li ul li {
      width: 100%; }
      .main-navigation li ul li a {
        font-size: .9em;
        display: block;
        width: 100%;
        padding: 10px 8px; }
        .main-navigation li ul li a:hover {
          background-color: transparent;
          color: #5c5c5c; }
  .site-main h1.entry-title {
    font-size: 2em;
    line-height: 1.4em; }
  .site-main article.post {
    padding-left: 0; }
    .site-main article.post .wrap-info-article {
      display: none; }
    .site-main article.post .entry-title a {
      font-size: 1.2em; }
  .site-main.home-site article {
    width: 100%;
    margin-right: 0; }
    .site-main.home-site article:nth-child(2n) {
      margin-right: 0; }
  .comments-area ul.children {
    padding-left: 10px; }
  #mc_embed_signup form .mc-field-group,
  #mc_embed_signup form > div div:last-child {
    width: 100%;
    margin-bottom: 20px; } }
